@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//Mixins
@mixin width($width, $mwidth) {
  width: $width;
  max-width: $mwidth;
}

.profile-image {
  @include width(100%, 150px);
}

.container-small {
  @include width(auto, 450px);
}

.contact-image {
  @include width(100%, 100px);
}

//maps

$test: $gray-300;

//custom maps
$custom-colors: (
  "test": $test,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
