//Mixins

@mixin width-container($width) {
  max-width: $width;
}

.form-container {
  @include width-container(350px);
}

.post-container {
  @include width-container(550px);
}

//maps

$test: $gray-300;

// Create your own map
$custom-colors: (
  "test": $test,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
