@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//Mixins
@mixin width($width, $mwidth) {
  width: $width;
  max-width: $mwidth;
}

// custom classes

.profile-image {
  @include width(100%, 150px);
}

.container-small {
  @include width(auto, 450px);
}

.contact-image {
  @include width(100%, 100px);
}

/* input fields */
.post-field {
  @extend .form-control;
  resize: none;
}

//color maps

$md-light-gray: $gray-400;
$md-dark-gray: $gray-700;
//custom maps
$custom-colors: (
  "md-light-gray": $md-light-gray,
  "md-dark-gray": $md-dark-gray,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// shadows

$box-shadow-sm: 0 0.15rem 1rem rgba($white, 0.125);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
