// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 450px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px,
);

// scss-docs-start color-variables

$purple: #7d9fff;
$red: #ff615d;
$yellow: #ffd66e;
$green: #75ffa1;
$cyan: #45f6ff;
// scss-docs-end color-variables
