// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 450px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px,
);

// scss-docs-start color-variables
$green: #1e3d3c;
$cyan: #00fff7;
$black: #1e2424;
$gray-900: #526160;
$gray-100: #d9fffe;
// scss-docs-end color-variables

$primary: $black;
$secondary: $cyan;
$success: $green;
